<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="assets/img/thumbnail-wedding.jpg" />
    <title>Hasby & Arum - Wedding Invitation</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta
      name="description"
      content="Spesial mengundang untuk menghadiri pernikahan kami. Hasby-Arum"
    />
    <meta
      name="keywords"
      content="undangan digital, undangan online, undangan nikah, website undangan, pernikahan, wedding, marriage"
    />
    <meta name="robots" content="follow, index" />
    <meta property="og:image" content="assets/img/thumbnail-wedding.jpg" />
    <meta
      property="og:image"
      itemprop="image"
      content="assets/img/thumbnail-wedding.jpg"
    />
    <link itemprop="thumbnailUrl" href="assets/img/thumbnail-wedding.jpg" />
    <span
      itemprop="thumbnail"
      itemscope
      itemtype="http://schema.org/ImageObject"
    >
      <link itemprop="url" href="assets/img/thumbnail-wedding.jpg" />
    </span>
    <meta property="og:image" content="assets/img/thumbnail-wedding.jpg" />
    <meta property="og:title" content="UNDANGAN PERNIKAHAN | Hasby-Arum" />
    <meta
      property="og:description"
      content="Spesial mengundang untuk menghadiri pernikahan kami. Hasby-Arum"
    />
    <link rel="stylesheet" href="w34style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css28b8.css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      type="text/javascript"
      src="atemplate/modernizr.custom.86080.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script src="assets/js/vue.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css" />
    <script type="text/javascript">
      $(function () {
        var overlay = $('<div id="overlay"></div>');
        overlay.show();
        overlay.appendTo(document.body);
        $(".popup").show();
        $(".close").click(function () {
          $(".popup").hide();
          overlay.appendTo(document.body).remove();
          return false;
        });

        $(".x").click(function () {
          $(".popup").hide();
          overlay.appendTo(document.body).remove();
          return false;
        });
      });
    </script>
  </head>

  <body>
    <div id="nikahapp">
      <div class="popup">
        <div class="cnt223">
          <img
            src="assets/de19cornerelement.png"
            class="corner-element top-right"
            alt=""
          />
          <img
            src="assets/de19cornerelement.png"
            class="corner-element bottom-left"
            alt=""
          />
          <p><img width="60%" style="text-align: center" /></p>
          <p class="imgopenint">
            <img
              class="close"
              src="assets/img/welcome-profile.png"
              style="text-align: center"
            />
          </p>
          <p style="text-align: center; line-height: normal">
            Kepada Yth. <br /><span style="font-size: 12px"
              >Bapak/Ibu/Saudara/i</span
            >
          </p>
          <p
            style="
              color: #404040;
              font-size: 20px;
              font-weight: bold;
              padding-bottom: 10px;
              margin-bottom: 0;
              padding-bottom: opx;
              border-radius: 4px;
              text-align: center;
            "
            id="write"
          >
            {{kepada}}
          </p>
          <p
            style="
              color: #404040;
              font-size: 14px;
              border-radius: 4px;
              text-align: center;
              margin-top: 0;
              padding-bottom: 22px;
            "
            id="write"
          >
            {{deskripsi}}
          </p>

          <p>
            <a href="#" id="unmute-sound" class="close" @click="bukaUndangan()"
              >Buka Undangan</a
            >
          </p>
          <div style="clear: both"></div>
          <p>
            <img
              width="60%"
              style="transform: rotate(180deg); text-align: center"
            />
          </p>
        </div>
      </div>
      <div class="iconbar" v-show="showBottomBar">
        <a
          class="tablink"
          onclick="openPage('Cover', this, '#184033')"
          id="defaultOpen"
          ><img src="assets/de17tab1cover.png" width="35" /><br /><span
            >Home</span
          ></a
        >
        <a class="tablink" onclick="openPage('Couple', this, '#184033')"
          ><img src="assets/de17tab2couple.png" width="35" /><br /><span
            >Couple</span
          ></a
        >
        <a class="tablink" onclick="openPage('Eventwd', this, '#184033')"
          ><img src="assets/de17tab3event.png" width="35" /><br /><span
            >Event</span
          ></a
        >
        <a class="tablink" onclick="openPage('Moment', this, '#184033')"
          ><img src="assets/de17tab4moment.png" width="35" /><br /><span
            >Moment</span
          ></a
        >
        <a class="tablink" onclick="openPage('Quotewd', this, '#184033')"
          ><img src="assets/de17tab5story.png" width="35" /><br /><span
            >Story</span
          ></a
        >
      </div>
      <div id="Cover" class="tabcontent">
        <!-- <h3>Home</h3>
						<p>Home is where the heart is..</p> -->
        <ul class="cb-slideshow">
          <li>
            <span>Image 01</span>
            <div>
              <h3>THE WEDDING</h3>
            </div>
          </li>
          <li>
            <span>Image 02</span>
            <div>
              <h3>{{tanggal_pernikahan}}</h3>
            </div>
          </li>
          <li>
            <span>Image 03</span>
            <div>
              <h3>SAVE.THE.DATE</h3>
            </div>
          </li>
          <li>
            <span>Image 04</span>
            <div>
              <h3></h3>
            </div>
          </li>
          <li>
            <span>Image 05</span>
            <div>
              <h3>{{pria_singkat}} & {{wanita_singkat}}</h3>
            </div>
          </li>
          <li>
            <span>Image 06</span>
            <div>
              <h3></h3>
            </div>
          </li>
        </ul>
        <div class="container4cover">
          <!--/ Codrops top bar -->
          <header>
            <div style="line-height: 80%; padding-top: 20px">
              <h6>
                <span style="font-family: desmonthe; font-size: 46px">
                  {{pria_singkat}}
                  <p style="font-size: 20px">&</p>
                  {{wanita_singkat}}
                </span>
              </h6>
              <br />
              <h6>Official Invitation</h6>
            </div>
            <p class="codrops-demos"></p>
            <div id="txt"></div>
          </header>
        </div>
        <div class="cornerb1">
          <img alt="" width="100%" />
        </div>
        <div class="cornerb2">
          <img src="assets/de19oraset2.png" alt="" width="100%" />
        </div>
        <div class="corner3">
          <img alt="" width="100%" />
        </div>
        <div class="corner4">
          <img alt="" width="100%" />
        </div>
        <div class="corner5" style="opacity: 0.3">
          <img alt="" width="100%" />
        </div>
        <div class="corner6">
          <img alt="" width="100%" />
        </div>
        <div id="homewd" class="contentwd">
          <br />
          <br />
          <br />
        </div>
        <br />
        <br />
      </div>
      <div id="Couple" class="tabcontent">
        <!-- <h3>News</h3>
						<p>Some news this fine day!</p> -->
        <div class="corner1">
          <img alt="" width="100%" />
        </div>
        <div class="corner2">
          <img src="assets/de19oraset2.png" alt="" width="100%" />
        </div>
        <div class="corner3">
          <img alt="" width="100%" />
        </div>
        <div class="corner4">
          <img src="assets/de19oraset4.png" alt="" width="100%" />
        </div>
        <div class="corner5">
          <img alt="" width="100%" />
        </div>
        <div class="corner6">
          <img alt="" width="100%" />
        </div>
        <div id="bridewd" class="contentwd">
          <div
            class="ornamentwdtop"
            style="width: 100%; margin: 0px; text-align: center"
          >
            <img alt="" style="display: inline-block" />
          </div>
          <br />
          <br />
          <div class="content4pad">
            <div>
              <h3
                style="font-family: Angelface; font-size: 35px; color: #234f45"
              >
                Bismillahirrahmanirrahim
              </h3>
              <div class="explainbride">
                Assalamu`alaikum Warahmatullahi Wabarakatuh
                <br />
                <br />
                Maha Suci Allah <br />yang telah menciptakan makhluk-Nya
                <br />berpasang-pasangan. <br />Ya Allah semoga ridha-Mu
                tercurah <br />mengiringi pernikahan putra-putri kami:
              </div>
            </div>
            <br />
            <div>
              <img src="assets/img/pria.png" width="40%" alt="" /><br /><span
                class="bridefont"
                >{{pria_lengkap}}</span
              >
            </div>
            <div class="explainbride">
              Putra kedua dari<br />
              Bpk. {{ayah_mempelai_pria}} & Ibu {{ibu_mempelai_pria}}
            </div>
            <br />
            <div class="explainbride">dan</div>
            <br />
            <div>
              <img src="assets/img/wanita.png" width="40%" alt="" /><br /><span
                class="bridefont"
                >{{wanita_lengkap}}</span
              >
            </div>
            <div class="explainbride">
              Putri kedua dari<br />
              Bpk. {{ayah_mempelai_wanita}} & Ibu {{ibu_mempelai_wanita}}
            </div>
            <br />
            <br />
          </div>
          <br />
          <br />
          <div
            class="ornamentwdbtm"
            style="width: 100%; margin: 0px; text-align: center"
          >
            <img alt="" style="display: inline-block" width="100%" />
          </div>
          <br />
          <br />
          <br />
        </div>
      </div>
      <div id="Eventwd" class="tabcontent">
        <div class="corner1">
          <img alt="" width="100%" />
        </div>
        <div class="corner2">
          <img src="assets/de19oraset2.png" alt="" width="100%" />
        </div>
        <div class="corner3">
          <img alt="" width="100%" />
        </div>
        <div class="corner4">
          <img src="assets/de19oraset4.png" alt="" width="100%" />
        </div>
        <div class="corner5">
          <img alt="" width="100%" />
        </div>
        <div class="corner6">
          <img alt="" width="100%" />
        </div>
        <div id="homewd" class="contentwd">
          <div
            class="ornamentwdtop"
            style="width: 100%; margin: 0px; text-align: center"
          >
            <img alt="" style="display: inline-block" width="100%" />
          </div>
          <br />
          <br />
          <div class="content4pad">
            <h3 style="font-family: Angelface; font-size: 38px; color: #234f45">
              Event
            </h3>
            <p class="explainbride">The Happy Day!</p>
            <p style="font-family: dosis; color: #404040">
              Dengan memohon rahmat dan ridha Allah Subhanahu Wa Ta'ala, izinkan
              kami mengundang Bapak/Ibu/Saudara(i) untuk menghadiri acara
              pernikahan putra-putri kami
            </p>
            <div class="cardevent">
              <div class="row">
                <div class="column">
                  <div class="card">
                    <div class="containerijabwd">
                      <table style="color: #234f45">
                        <tr>
                          <th style="width: 20%">
                            <img src="assets/de19wdakad.png" width="100%" />
                          </th>
                          <th></th>
                          <th style="width: 80%">
                            <p
                              style="
                                font-size: 18px;
                                font-family: dosis;
                                color: #234f45;
                              "
                            >
                              <b>Akad Nikah</b>
                            </p>
                          </th>
                        </tr>
                        <tr>
                          <td></td>
                          <td><i class="fa fa-calendar"></i></td>
                          <td>{{hari_akad}}, {{tanggal_akad}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><br /></td>
                          <td><br /></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><i class="fa fa-clock-o"></i></td>
                          <td>{{jam_akad}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><br /></td>
                          <td><br /></td>
                        </tr>
                        <tr style="vertical-align: top">
                          <td></td>
                          <td><i class="fa fa-map-marker"></i></td>
                          <td>{{lokasi_akad}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>
                            <br />
                          </td>
                          <td>
                            <br />
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="card">
                    <div class="containerweddingwd">
                      <table align="right" style="color: #234f45">
                        <tr>
                          <th align="right" style="width: 80%">
                            <p
                              style="
                                font-size: 18px;
                                font-family: dosis;
                                color: #234f45;
                                text-align: right;
                              "
                            >
                              <b>Resepsi Pernikahan</b>
                            </p>
                          </th>
                          <th></th>
                          <th style="width: 20%">
                            <img src="assets/de19wdresepsi.png" width="100%" />
                          </th>
                        </tr>
                        <tr align="right">
                          <td>{{hari_resepsi}}, {{tanggal_resepsi}}</td>
                          <td><i class="fa fa-calendar"></i></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><br /></td>
                          <td><br /></td>
                          <td></td>
                        </tr>
                        <tr align="right">
                          <td>{{jam_resepsi}}</td>
                          <td><i class="fa fa-clock-o"></i></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><br /></td>
                          <td><br /></td>
                          <td></td>
                        </tr>
                        <tr align="right" style="vertical-align: top">
                          <td>{{lokasi_resepsi}}</td>
                          <td><i class="fa fa-map-marker"></i></td>
                          <td></td>
                        </tr>
                        <tr align="right">
                          <td><br /></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr align="right">
                          <td>
                            <a
                              href="https://www.google.com/calendar/render?action=TEMPLATE&text=Pernikahan+Hasby+%26+Arum&details=Undangan+%3A+https%3A%2F%2Fs.id%2Fhasby-arum&location=Ds.+Bulurejo+Dsn.+Goreng%2C+RT.01+RW.+01%2C+Kec.+Rengel%2C+Tuban%2C+Jawa+Timur&dates=20230112T020000Z%2F20230112T080000Z"
                              target="_blank"
                              style="
                                background-color: #39473d;
                                font-family: dosis;
                                font-size: 15px;
                                color: white;
                                padding: 12px 20px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                border-radius: 8px;
                              "
                              ><strong>Save The Date</strong></a
                            >
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                      <div style="clear: both"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div style="clear: both"></div>
            <!-- startprotokolkesehatan -->
            <div
              class="explainbride"
              style="
                background-color: #edfffb;
                width: 100%;
                margin: auto;
                box-shadow: 1px 1px 5px #888888;
                padding: 10px;
                border-radius: 10px;
                color: #234f45;
              "
            >
              <p>
                <i style="color: #234f45" class="fa fa-heart"></i> <br />
                Guna mencegah penularan covid-19 kami harapkan kedatangan para
                tamu undangan tetap menerapkan protokol yang berlaku :
              </p>
              <div style="padding: 5px; border-bottom: 1px solid #c7c7c7">
                Wajib menggunakan masker
              </div>
              <div style="padding: 5px; border-bottom: 1px solid #c7c7c7">
                Menggunakan salam namaste / salam hangat tanpa bersentuhan
              </div>
              <div style="padding: 5px; border-bottom: 1px solid #c7c7c7">
                Saling menjaga jarak di dalam acara
              </div>
              <div style="padding: 5px; border-bottom: 1px solid #c7c7c7">
                Menjaga kebersihan dengan menggunakan handsanitizer
              </div>
            </div>
            <!-- endprotokolkesehatan -->
            <br />
            <div id="clockdiv">
              <div>
                <span class="days" id="day"></span>
                <div class="smalltext">Days</div>
              </div>
              <div>
                <span class="hours" id="hour"></span>
                <div class="smalltext">Hours</div>
              </div>
              <div>
                <span class="minutes" id="minute"></span>
                <div class="smalltext">Minutes</div>
              </div>
              <div>
                <span class="seconds" id="second"></span>
                <div class="smalltext">Seconds</div>
              </div>
            </div>
            <p id="demo"></p>
            <p class="explainbride">
              Merupakan suatu kehormatan dan kebahagiaan
              <br />bagi kami apabila Bapak/Ibu/Saudara(i) <br />berkenan untuk
              hadir dan memberikan do'a restu <br />kepada kedua mempelai.
            </p>
            <br />
            <div>
              <iframe
                style="border-radius: 10px"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.320285055521!2d111.96999961477377!3d-7.088821394880526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe80eb76f632d8b4d!2zN8KwMDUnMTkuOCJTIDExMcKwNTgnMTkuOSJF!5e0!3m2!1sid!2sid!4v1671714775529!5m2!1sid!2sid"
                width="100%"
                height="400"
                frameborder="0"
                style="border: 0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
              ></iframe>
            </div>
            <div>
              <a
                href="https://goo.gl/maps/9un8HYxfsa5rpGVy6"
                target="_blank"
                style="
                  background-color: #234f45;
                  font-family: dosis;
                  font-size: 18px;
                  color: white;
                  padding: 18px 30px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  border-radius: 8px;
                "
                ><strong>Open Map</strong></a
              >
            </div>
            <br />
            <br />
            <div
              style="
                background-color: #edfffb;
                width: 100%;
                margin: auto;
                box-shadow: 1px 1px 5px #888888;
                padding: 10px;
                border-radius: 10px;
                color: #234f45;
              "
            >
              <center>
                <p
                  style="
                    font-size: 18px;
                    font-family: dosis;
                    color: rgb(35, 79, 69);
                  "
                >
                  <b> Kirim Amplop Digital </b>
                </p>
                <br />
                <img
                  style="width: 65%; height: auto"
                  src="assets/img/bank.png"
                  alt=""
                />
                <br />
                <br />
                <h4 style="margin-bottom: 0px; font-weight: bold">
                  {{rek_bank}}
                </h4>
                <p style="margin: 0px">{{an_bank}}</p>
                <br />
              </center>
            </div>
            <br />
            <br />
          </div>
          <br />
          <br />
          <div
            class="ornamentwdbtm"
            style="width: 100%; margin: 0px; text-align: center"
          >
            <img alt="" style="display: inline-block" width="100%" />
          </div>
          <br />
          <br />
        </div>
      </div>
      <div id="Moment" class="tabcontent">
        <div class="corner1">
          <img alt="" width="100%" />
        </div>
        <div class="corner2">
          <img src="assets/de19oraset2.png" alt="" width="100%" />
        </div>
        <div class="corner3">
          <img alt="" width="100%" />
        </div>
        <div class="corner4">
          <img src="assets/de19oraset4.png" alt="" width="100%" />
        </div>
        <div class="corner5">
          <img alt="" width="100%" />
        </div>
        <div class="corner6">
          <img alt="" width="100%" />
        </div>
        <div id="homewd" class="contentwd">
          <div
            class="ornamentwdtop"
            style="width: 100%; margin: 0px; text-align: center"
          >
            <img alt="" style="display: inline-block" width="100%" />
          </div>
          <br />
          <br />
          <div class="content4pad">
            <h3 style="font-family: Angelface; font-size: 38px; color: #234f45">
              Gallery
            </h3>
            <p class="explainbride">
              Momen Bahagia {{pria_wanita_singkat_dash}}
            </p>
            <!-- !PAGE CONTENT! -->
            <div
              class="w3-main w3-content"
              style="max-width: 1600px; margin-top: 20px"
            >
              <!-- Photo grid -->
              <div class="w3-row w3-grayscale-min">
                <div class="w3-half">
                  <img
                    src="assets/img/gallery/foto3.jpg"
                    style="width: 100%; border-top-left-radius: 10px"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                  <img
                    src="assets/img/gallery/foto4.jpg"
                    style="width: 100%"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                  <img
                    src="assets/img/gallery/foto5.jpg"
                    style="width: 100%"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                  <img
                    src="assets/img/gallery/foto9.jpg"
                    style="width: 100%"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                  <img
                    src="assets/img/gallery/foto7.jpg"
                    style="width: 100%; border-bottom-left-radius: 10px"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                </div>
                <div class="w3-half">
                  <img
                    src="assets/img/gallery/foto2.jpg"
                    style="width: 100%; border-top-right-radius: 10px"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                  <img
                    src="assets/img/gallery/foto1.jpg"
                    style="width: 100%"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                  <img
                    src="assets/img/gallery/foto6.jpg"
                    style="width: 100%"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                  <img
                    src="assets/img/gallery/foto10.jpg"
                    style="width: 100%"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                  <img
                    src="assets/img/gallery/foto8.jpg"
                    style="width: 100%; border-bottom-right-radius: 10px"
                    onclick="onClick(this)"
                    :alt="pria_wanita_singkat"
                  />
                </div>
              </div>
              <!-- Modal for full size images on click-->
              <div
                id="modal01"
                class="w3-modal w3-black"
                style="padding-top: 0"
                onclick="this.style.display='none'"
              >
                <span class="w3-button w3-black w3-xlarge w3-display-topleft"
                  >×</span
                >
                <div
                  class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64"
                >
                  <img id="img01" class="w3-image" />
                  <p id="caption"></p>
                </div>
              </div>
              <br />
              <br />
            </div>
          </div>
          <br />
          <br />
          <div>
            <div
              class="ornamentwdbtm"
              style="width: 100%; margin: 0px; text-align: center"
            >
              <img alt="" style="display: inline-block" width="100%" />
            </div>
          </div>
          <br />
          <br />
          <br />
        </div>
      </div>
      <div id="Quotewd" class="tabcontent">
        <div class="corner1">
          <img alt="" width="100%" />
        </div>
        <div class="corner2">
          <img src="assets/de19oraset2.png" alt="" width="100%" />
        </div>
        <div class="corner3">
          <img alt="" width="100%" />
        </div>
        <div class="corner4">
          <img src="assets/de19oraset4.png" alt="" width="100%" />
        </div>
        <div class="corner5">
          <img alt="" width="100%" />
        </div>
        <div class="corner6">
          <img alt="" width="100%" />
        </div>
        <div id="homewd" class="contentwd">
          <div
            class="ornamentwdtop"
            style="width: 100%; margin: 0px; text-align: center"
          >
            <img alt="" style="display: inline-block" width="100%" />
          </div>
          <br />
          <br />
          <div class="content4pad">
            <h3 style="font-family: Angelface; font-size: 38px; color: #234f45">
              Story
            </h3>
            <p class="explainbride">
              Kisah Bahagia {{pria_wanita_singkat_dash}}
            </p>
            <p class="explainbride">--</p>
            <p class="explainbride">
              Dan di antara tanda-tanda kekuasaan-Nya ialah Dia menciptakan
              untukmu istri-istri dari jenismu sendiri, supaya kamu cenderung
              dan merasa tenteram kepadanya, dan dijadikan-Nya diantaramu rasa
              kasih dan sayang. Sesungguhnya pada yang demikian itu benar-benar
              terdapat tanda-tanda bagi kaum yang berfikir.
            </p>
            <p class="explainbride"><b>- QS. Ar-Rum: 21 -</b></p>
            <p class="explainbride">--</p>
            <!-- !PAGE CONTENT! -->
            <div
              class="w3-main w3-content"
              style="max-width: 1600px; margin-top: 20px"
            >
              <!-- timeline start -->

              <div class="timeline">
                <div class="container right">
                  <div class="content">
                    <div class="bg1content">
                      <h2>2020</h2>
                      <p>
                        Tepatnya November, Awal mula pertemuan kami, ketika awal
                        dia masuk kuliah menjadi Mahasiswa baru dan mengikuti
                        organisasi, meskipun seharusnya sudah 2018 atau 2 tahun
                        lalu dia jadi adik kelasku.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="container left">
                  <div class="content">
                    <div class="bg1content">
                      <h2>2021</h2>
                      <p>
                        Bukan seperti lagu cinta pandangan pertama, Meskipun
                        sering ngopi ataupun main bareng bersama kawan" yang
                        lain, kita masi layaknya kakak dan adik kelas di bangku
                        perkuliahan dan senior junior dalam organisasi. Di bulan
                        bulan akhir tahun ini entah darimana awalnya komunikasi
                        atau percakapan kami lancar, ya, sesering itu kita
                        berinteraksi.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="container right">
                  <div class="content">
                    <div class="bg1content">
                      <h2>2022</h2>
                      <p>
                        Singkat cerita kita telah lebih dari seorang teman atau
                        senior junior organisasi, Aku melihat apa yang orang
                        lain tak melihat tentangnya, Aku menemukan sesuatu
                        spesial pada dirinya. Dinamika dan bumbu dari sebuah
                        hubungan membawa kita pada sebuah keseriusan dan pada
                        bulan september kita telah melangsukan Tunangan.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="container left">
                  <div class="content">
                    <div class="bg1content">
                      <h2>2023</h2>
                      <p>
                        Momen bersejarah dan spesial kami dimulai dari titik ini
                        12 Januari, momen kebahagian kami membangun keluarga
                        kecil versi kami berdua. Semoga Allah swt memberi
                        keberkahan untuk ibadah terpanjang kami ini.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- timeline end -->
            </div>
          </div>
          <br />
          <br />
          <div>
            <div
              class="ornamentwdbtm"
              style="width: 100%; margin: 0px; text-align: center"
            >
              <img alt="" style="display: inline-block" width="100%" />
            </div>
          </div>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
    <script>
      function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
      }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }

      // Modal Image Gallery
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }

      var deadline = new Date("January 12, 2023 09:00:00").getTime();

      var x = setInterval(function () {
        var now = new Date().getTime();
        var t = deadline - now;
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((t % (1000 * 60)) / 1000);
        document.getElementById("day").innerHTML = days;
        document.getElementById("hour").innerHTML = hours;
        document.getElementById("minute").innerHTML = minutes;
        document.getElementById("second").innerHTML = seconds;
        if (t < 0) {
          clearInterval(x);
          document.getElementById("demo").innerHTML = "HAPPY WEDDING";
          document.getElementById("day").innerHTML = "0";
          document.getElementById("hour").innerHTML = "0";
          document.getElementById("minute").innerHTML = "0";
          document.getElementById("second").innerHTML = "0";
        }
      }, 1000);

      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      var sn = getParameterByName("to");

      document.getElementById("write").innerHTML = sn;
    </script>
    <script>
      var app = new Vue({
        el: "#nikahapp",
        data: {
          showBottomBar: false,
          an_bank: "Hasby Rasidin Sidiq I",
          rek_bank: "384001024515535",
          kepada: "",
          deskripsi: "",
          pria_singkat: "Hasby",
          wanita_singkat: "Arum",
          pria_wanita_singkat: "Hasby & Arum",
          pria_wanita_singkat_dash: "Hasby - Arum",
          pria_lengkap: "Hasby Rasidin Sidiq I, S.E",
          wanita_lengkap: "Endah Arum Sari",
          ayah_mempelai_pria: "Emi Riyasi",
          ayah_mempelai_wanita: "Ketut Hadi Prayitno",
          ibu_mempelai_pria: "Siti Maemunah",
          ibu_mempelai_wanita: "Sumarlin",
          tanggal_pernikahan: "12 JANUARI 2023",
          hari_akad: "Kamis",
          tanggal_akad: "12 Januari 2023",
          jam_akad: "08:30 WIB",
          lokasi_akad:
            "Ds. Bulurejo Dsn. Goreng, RT.01 RW. 01, Kec. Rengel, Tuban, Jawa Timur",
          hari_resepsi: "Kamis",
          tanggal_resepsi: "12 Januari 2023",
          jam_resepsi: "09:00 - Selesai",
          lokasi_resepsi:
            "Ds. Bulurejo Dsn. Goreng, RT.01 RW. 01, Kec. Rengel, Tuban, Jawa Timur",
        },
        filters: {},
        methods: {
          bukaUndangan() {
            this.showBottomBar = true;
            this.playMusic();
          },
          playMusic() {
            var audio = new Audio("assets/sounds/beautifulinwhite.mp3");
            audio.play();
          },
        },
        created() {
          let uriKepada = window.location.search.substring(1);
          let paramsKepada = new URLSearchParams(uriKepada);
          this.kepada = paramsKepada.get("to");

          let uriDeskripsi = window.location.search.substring(1);
          let paramsDeskripsi = new URLSearchParams(uriDeskripsi);
          this.deskripsi = paramsDeskripsi.get("title");
        },
      });
    </script>
  </body>
</html>
