<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Undangan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/vue.min.js"></script>
  </head>
  <body>
    <br />
    <div class="container" id="app">
      <input
        type="text"
        class="form-control"
        placeholder="To : Muhammad Ibrahim"
        v-model="kepada"
      />
      <br />
      <input
        type="text"
        class="form-control"
        placeholder="Title : Direktur PT. ABC"
        v-model="deskripsi"
      />
      <br />
      <div
        class="px-4 bg-secondary bg-opacity-50 py-2 rounded"
        v-show="kepada != '' || deskripsi != '' "
      >
        {{resultLink}}
      </div>
      <br />
      <button class="btn btn-success" @click="copyURL">Copy Link</button>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          resultLink: "",
          domainApp: "https://hasby-arum.kodebug.id",
          kepada: "",
          deskripsi: "",
        },
        filters: {},
        methods: {
          async copyURL() {
            try {
              let textUrl = this.resultLink.replaceAll(" ", "%20");
              await navigator.clipboard.writeText(textUrl);
              alert("Copied");
            } catch ($e) {
              console.log($e);
              alert("Cannot copy");
            }
          },
        },
        watch: {
          kepada: {
            handler(newValue, oldValue) {
              if (this.deskripsi == "") {
                this.resultLink = this.domainApp + "?to=" + newValue;
              } else {
                this.resultLink =
                  this.domainApp +
                  "?to=" +
                  newValue +
                  "&title=" +
                  this.deskripsi;
              }
            },
            deep: true,
          },
          deskripsi: {
            handler(newValue, oldValue) {
              if (this.kepada == "") {
                this.resultLink = this.domainApp + "?title=" + newValue;
              } else {
                this.resultLink =
                  this.domainApp + "?to=" + this.kepada + "&title=" + newValue;
              }
            },
            deep: true,
          },
          resultLink: {
            handler(newValue, oldValue) {
              if (newValue !== "") {
                console.log("Cek");
                this.resultLink = newValue.replaceAll(" ", "%20");
              }
            },
            deep: true,
          },
        },
        created() {},
      });
    </script>
  </body>
</html>
